@font-face {
  font-family: "Montserrat-Bold";
  src: url(assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "RobotoSlabLight";
  src: url(assets/fonts/RobotoSlab-Light.ttf);
}

@font-face {
  font-family: "RobotoSlabBold";
  src: url(assets/fonts/RobotoSlab-Bold.ttf);
}

body {
  margin: 0;
  font-family: 'RobotoSlabLight', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
}
